mixin styles(...files)
    each file in files
        link(rel="stylesheet",href=file)

mixin scripts(...files)
    each file in files
        script(type="text/javascript" src=file)


- var userList = [{img : 'img/homePage/sideBar/user.png', name: 'Trevor Reyes'}] 
mixin userInfo(items)
    each item in items
        img.userImg(src=item.img alt="User" ng-src="{{userAvatar}}")
        p.userName(ng-bind="name") #{item.name}


mixin menuItems()
    li.projectItem(ng-repeat="model in projects track by model.Project.id")
        a(href="#" ng-class="activeClass(model.Project.id)" ng-click="openTasks(model.Project.id)")
            p.itemMenuName {{model.Project.title}}
            p.itemMenuNumber {{model.Project.task_count}}
            
    li(class=liClass)
        a(class=linkClass href=linkhref) #{linkText}
            p(class=paragrafClass) #{paragrafText}
            p(class=paragraf2Class) #{paragraf2Text}


mixin tasksItems(taskLink,imgSrc,imgAlt,paragrafText)
    a(class='taskBtn' href=taskLink)
        .checkbox
            img(src=imgSrc alt=imgAlt)
            p.taskText #{paragrafText}


mixin dropdownItems(linkHref,linkText,funcName)
    li
        a(href=linkHref ng-click="funcName()") #{linkText}
        
